@import url("https://fonts.googleapis.com/css2?family=Freeman&family=Protest+Revolution&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Montserrat:ital,wght@0,500;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
:root {
  height: 100%;
  background-color: #0e0e10;
  scroll-behavior: smooth;
  color: white;
}

#root {
  height: 100%;
}

.input-box {
  background-color: transparent;
  border: 1px solid #26262b;
  border-radius: 5px;
  outline: none;
  padding: 5px 10px;
  margin-top: 3px;
}

.button_variant_1 {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #59c2ef;
  outline: none;
}

.button_variant_low {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #59c2ef87;
  outline: none;
}

.link_button {
  border: none;
  outline: none;
  text-decoration: underline;
}

.custom-toast {
  font-size: 15px;
  display: flex;
  color: #0e0e10;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  width: 250px;
}

.volume-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  background: #0e0e0e;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 10px;
}

.volume-slider:hover {
  opacity: 1;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 15px;
  height: 15px;
  border-radius: 100px;
  background: #0680f3;
  cursor: pointer;
}

.mukta-medium {
  font-family: "Mukta", sans-serif;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 1px;
}

.jaro-head {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  color: #bdbdbd;
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-bol {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nunito-sans-bold {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
  letter-spacing: 0.5px;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.black-han-sans-regular {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #18181b;
  border-radius: 25px;
}

body::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #9c9c9c;
}

.remove-icon {
  transition: opacity 0.3s ease;
  /* Add transition effect */
}

/* Show remove icon when hovered over parent div */
.flex:hover .remove-icon {
  opacity: 1;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0.4rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #222328;
  border-radius: 25px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #9c9c9c;
}

.player-background {
  background: #353c8f;
  background: radial-gradient(circle, #353c8f 0%, #1d1d1d 95%);
}

.song-of-week-background {
  background-image: linear-gradient(
    to right top,
    #660000,
    #5f0708,
    #580e0e,
    #511213,
    #491616,
    #411617,
    #381517,
    #301517,
    #261214,
    #1d0d10,
    #120709,
    #000000
  );
}

.custom-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 700;
  width: 100px;
  background: #59c2ef;
  border-radius: 5px;
  letter-spacing: 1px;
}

.slider img {
  inset: 0px;
  object-fit: center;
  z-index: 1;
  border-radius: 7px;
  top: 0;
}

.slick-next {
  height: 30rem;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  border-radius: 5px;

  &:hover {
    opacity: 1;
    background: #353c8f;
    background: radial-gradient(circle, #353c8f 0%, #1d1d1d 95%);
  }

  img {
    margin-right: 20px;
  }
}

.slick-prev {
  height: 30rem;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  border-radius: 5px;

  &:hover {
    opacity: 1;
    background: #353c8f;
    background: radial-gradient(circle, #353c8f 0%, #1d1d1d 95%);
  }

  img {
    margin-left: 20px;
  }

  z-index: 10;
}

.slick-prev:before,
.slick-next:before {
  content: "" !important;
}
